{% extends 'base.html.twig' %}

{% block title %}Update error{% endblock %}

{% block body %}
    <h1>Update error</h1>
    <p>{{ message }}</p>
    <a href="{{ path('researcher_index') }}">Return to the Researcher List</a>
{% endblock %}
